* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
}

h1 {
    color: #fff;
    text-align: center;
    font-size: 4em;
}

#gamer {
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    margin: 40px 40px 40px 40px;
}

button {
    width: 300px;
    height: 100px;
    background-color: green;
    color: #fff;
    text-align: center;
    border: none;
    font-size: 2em;
}

button:hover {
    cursor: pointer;
}

.cell {
    width: 50%;
    height: 50%;
    opacity: 0.2;
    float: left;
}

.cell.active {
    opacity: 1;
}

.cell:nth-child(1) { background-color: red; }
.cell:nth-child(2) { background-color: green; }
.cell:nth-child(3) { background-color: blue; }
.cell:nth-child(4) { background-color: yellow; }